<html>
  <head>
    <title>Django Girls blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
      <p>published: 26.11.2019, 00.55</p>
      <h2><a href="">My first post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia
      quam venenatis vestibulum. Donec id elit non mi porta gravida
      at eget metus.</p>
    </div>

    <div>
      <p>published: 26.11.2019, 00.55</p>
      <h2><a href="">My second post</a></h2>
      <p>Aenean eu leo quam. PellePellentesque ornare sem lacinia
      quam venenatis vestibulum. Donec id elit non mi porta gravida</p>
    </div>
  </body>
</html>
